<div class="span-2">&nbsp;</div>
<div class="span-20">
	<fieldset>
		<legend>User's List, total users: <%= "#{@users.count}" %></legend>	
		<table>
			<thead>
				<tr>
					<th class="span-4">Score</th>
					<th class="span-4">Name</th>
					<th class="span-4">Email</th>
					<th class="span-4">Password Hash</th>
					<th class="span-4 last">Password Salt</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |u| %>
				<tr>
					<td><%= u.score.round(1) %></td>
					<td><%= u.name %></td>
					<td><%= mail_to u.email, u.email, encode: "javascript" %></td>
					<td><small><%= u.password_hash %></small></td>
					<td><small><%= u.password_salt %></small></td>
				</tr>
				<% end if @users %>
			</tbody>
		</table>
	</fieldset>
</div>
<div class="span-2 last">&nbsp;</div>