<% if @match %>
<table border="0" cellspacing="0" cellpadding="0">
	<caption>
		<em>
			Current match: "<b><%= @match.name %></b>"
			<%="(closed)" if @match.closed %>
		</em>
	</caption>
	<% if @match.players.count > 0 %>
	<thead>
		<tr>
			<th class="span-4">Position</th>
			<th class="span-4">Score</th>
			<th class="span-4">Name</th>
			<th class="span-4">Status</th>
			<% if @match.require_confirmation %>
			<th class="span-4">Actions</th>
			<% end %>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="2">Total: <%= "#{@match.players.count}" %></td>
		</tr>
	</tfoot>
	<% end %>
	<tbody>
		<% @players.each_with_index do |p, index| %>
		<tr>
			<td><%= index + 1 %></td>
			<td><%= p.score.round(1) %></td>
			<td><%= p.user.name %></td>
			<td>
				<% if p.confirm %> 
					<div class= "button icon approve" />
				<% end %>
				<% if p.cancel %> 
					<div class= "button icon remove" />
				<% end %>
				<% if !p.confirm && !p.cancel %> 
					<div class= "button">NEW</div>
				<% end %>
			</td>
			<%if @match.require_confirmation %>
			<td>
				<% if (!p.confirm && !p.cancel && @user && !@user.admin? && p.user == @user) || (@user && @user.admin?) %>
					<div class="button-group">
						<%= link_to "Confirm", home_confirm_player_to_match_path(:player => p), class: "button icon approve" if @user && !p.confirm %>
						<%= link_to "Cancel", home_cancel_player_to_match_path(:player => p), class: "button danger icon remove" if @user && !p.cancel %>
					</div>
				<% end %>
			</td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>
<% if @match %>
	<% if @match.comments.count != 0 || @user %>
		<fieldset class = "notice">
	<% end %>
	<% if @match.comments.count != 0 %>
		<% @match.comments.each_with_index do |c, index| %>
			<strong><%= c.message %></strong>
			<br />
			<small><strong><em><%= c.user.name %></em></strong> | <%= c.created_at %></small>
			<% if index <= (@match.comments.count - 2) %>
				<br />&nbsp;<hr/>
			<% end %>
		<% end %>
	<% end %>
	<% if @user %>
		<% if @match.comments.count != 0 %>
			<br />&nbsp;<hr/>
		<% end %>
		<%= form_for @comment, :url => home_add_comment_to_match_path do |f| %>
			<%= f.text_area :message, :class => "span-23" %>
			<br />
			<%= f.submit "Add comment", :disable_with => "..." %>
		<% end %>
	<% end %>
	<% if @match.comments.count != 0 || @user %>
		</fieldset>
	<% end %>
<% end %>