<div class="span-3">&nbsp;</div>
<div class="span-18">
	<%= form_for @user, url: users_login_path(@user) do |f| %>
	<fieldset>
		<legend>Login</legend>
		<p>
			<%= f.label :name %> <br /> 
			<%= f.text_field :name %>
		</p>
		<p>
			<%= f.label :password %> <br />
			<%= f.password_field :password %>
		</p>
		<p>
			<%= f.submit "Submit", disable_with: "..." %>
		</p>
	</fieldset>
	<% end %>
</div>
<div class="span-3 last">&nbsp;</div>
<script language="javascript">
$(document).ready(function() {
  $('#user_name').focus();
});
</script>